/* Style the sidebar - fixed full height */
body{
  background-color: #050609;
}
h1 {
  color: #EC4E20;
  /*font-family: 'Alegreya';*/ /*this is the problem for the color*/
  /*Try courier new, georgia, or lucida console if this doesn't look right */
}

h2 {
  color: #AFBBF2;
  /*font-family: Century Gothic, sans-serif;*/
  /*try verdana, gill sans, or tahoma if this one doesn't look right*/
}



.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Style sidebar links */
.sidebar a {
  padding: 30px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #ffffff;
  /* change color of letters on the line above: menu*/
  display: block;
  transition: 0.3s;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #324A5F;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*#main {
  transition: margin-left .5s;
  padding: 20px;
}
